<div class='footer col6 margin3 pad4h'>
  <div class='text col6'>
    thank you to <a href="{{site.baseurl}}/gratitude">all of our supporters</a> &lt;3<br/>
    kopano ke matla | 1love 1family &lt;3
  </div>
  <div class='mailing_list col6'>
    sign up for our mailing list!<br/>
    <form method="POST" action="https://lists.colorado.edu/sympa" _lpchecked="1">
      <input type="hidden" name="list" value="cub2p.supporters">
      <input type="hidden" name="action" value="subrequest">
      <input type="hidden" name="via_subrequest" value="1">
      <input type="hidden" name="action_subrequest" value="submit">
      <input type="submit" value="Sign Up">
      <input type="text" name="email" placeholder="* enter email & press Enter *">
    </form>
  </div>
</div>
